
<div class="mt-4 big-title mt-4 mb-4 ">
    <h1>{{ user.username }}'s Stuff</h1>
</div>

 <div class="bg-a-white black-border p-4 " >
    <h3>Hello, {{user.username}}</h3>
    <h4>You email: {{user.email}}</h4>
    {% if user_subscription %}
    <p>Yee-haw! You're on the {{ user_subscription.plan.name }} plan!</p>
{% else %}
    <p>Howdy, partner! Looks like you haven't picked a subscription plan yet.</p>
{% endif %}
    <button type="button" class="btn rounded-0 bg-yellow btn-lg" data-bs-toggle="modal" data-bs-target="#detailsModal">
      Update Details
    </button>
    
    <button type="button" class="btn rounded-0 bg-red btn-lg" data-bs-toggle="modal" data-bs-target="#passwordModal">
      Change Password
    </button>

    <button type="button" class="btn rounded-0 bg-pink btn-lg" data-bs-toggle="modal" data-bs-target="#deleteAccountModal">
      Delete Account
    </button>
</div>