{% extends "base.html" %}
{% load static %}

{% block title %}User Dashboard{% endblock %}


{% block extra_head %}
    <link rel="stylesheet" href="{% static '/css/dashboard.css' %}">
{% endblock %}


{% block content %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<ul class="nav nav-tabs mt-5" id="userTabs" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link  btn active  rounded-0 bg-yellow btn-lg black-border btn-lg me-4" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link  btn rounded-0 bg-yellow btn-lg black-border" id="subscription-tab" data-bs-toggle="tab" href="#subscription" role="tab" aria-controls="subscription" aria-selected="false">Subscription</a>
  </li>
</ul>

<h2 class="big-title mt-4">{{ user.username }}'s Stuff</h2>

<a href="{% url 'customer_portal' %}">Manage your subscription</a>

<div class="tab-content" id="userTabsContent">
  
  <!-- Profile Tab -->
  <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
 
      <h2>Hello, {{user.username}}</h2>
      <h3>You emaill: {{user.email}}</h3>
      {% if user_subscription %}
      <p>Yee-haw! You're on the {{ user_subscription.plan.name }} plan!</p>
  {% else %}
      <p>Howdy, partner! Looks like you haven't picked a subscription plan yet.</p>
  {% endif %}
      <button type="button" class="btn rounded-0 bg-yellow btn-lg" data-bs-toggle="modal" data-bs-target="#detailsModal">
        Update Details
      </button>
      
      <button type="button" class="btn rounded-0 bg-yellow btn-lg" data-bs-toggle="modal" data-bs-target="#passwordModal">
        Change Password
      </button>

      <button type="button" class="btn rounded-0 bg-yellow btn-lg" data-bs-toggle="modal" data-bs-target="#deleteAccountModal">
        Delete Account
      </button>

      <br>
 <h1>{{user_subscription }}</h1>

      {% if user_subscription %}
      <p>Yee-haw! You're on the {{ user_subscription.plan.name }} plan! (Price: {{ user_subscription.plan.price }})</p>
      {% if user_subscription.plan.price == "0.00" or user_subscription.plan.price == 0 or user_subscription.plan.price == "0" %}
          <!-- Show the "Upgrade to Premium" button only if the user is on the Free plan -->
          <a href="{% url 'upgrade_subscription' %}">Upgrade to Premium</a>
      {% else %}
          <!-- Show the "Downgrade to Free" button only if the user is on the Premium plan -->
          <a href="{% url 'downgrade_subscription' %}">Downgrade to Free</a>
      {% endif %}
  {% else %}
      <p>Howdy, partner! Looks like you haven't picked a subscription plan yet.</p>
      <!-- Show the "Subscribe to Free" and "Subscribe to Premium" buttons if the user has no subscription -->
      <a href="{% url 'subscribe_free' %}">Subscribe to Free</a>
      <a href="{% url 'subscribe_premium' %}">Subscribe to Premium</a>
  {% endif %}
  </div>
  
  <!-- Subscription Tab -->
  <div class="tab-pane fade  " id="subscription" role="tabpanel" aria-labelledby="subscription-tab">
  </div>

</div>

{% include "dash-change-details.html" %}
{% include "dash-change-pass.html" %}
{% include "dash-delete-account.html" %}



    
{% endblock %}


{% block extra_js %}

{% endblock %}