<div class="mt-4 big-title mt-4 mb-2">
    <h1>{{ user.username }}'s Subs</h1>
</div>

<div class="bg-a-white black-border p-4 " >

    {% if user_subscription %}
        <p>Yee-haw! You're on the {{ user_subscription.plan.name }} plan! (Price: {{ user_subscription.plan.price }})</p>

        {% if user_subscription.plan.name == "WordUpp Free" %}
            <!-- Show the "Upgrade to Premium" button only if the user is on the Free plan -->
            <button class="btn rounded-0 bg-yellow btn-lg black-border btn-lg me-4  " onclick="upgradeToPremium()">Upgrade to Premium</button>
        {% else %}
            <!-- Show the "Manage Your Subscription" button -->
            <a class="btn rounded-0 bg-yellow btn-lg black-border btn-lg me-4" href="{% url 'customer_portal' %}">Manage Your Subscription</a>

        {% endif %}
    {% else %}
        <!--in case for some reason the user doesnt get assign to the free plan -->
        <p>Howdy, partner! Looks like you haven't picked a subscription plan yet.</p>
        <!-- Show the "Subscribe to Premium" button if the user has no subscription -->
        <button class="btn rounded-0 bg-yellow btn-lg black-border btn-lg me-4 mb-4" onclick="upgradeToPremium()">Upgrade to Premium</button>

    {% endif %}


    {% if user_subscription %}
        {% if user_subscription.end_date and not user_subscription.is_active %}

            {% if user_subscription.end_date < today %}
                <p>Your subscription has expired on {{ user_subscription.end_date }}. Please renew to continue enjoying the premium features.</p>
            {% else %}
                <p>Your subscription is paused but will remain active until {{ user_subscription.end_date }}.</p>
            {% endif %}

        {% elif user_subscription.end_date %}
            <p>Your current subscription will end on {{ user_subscription.end_date }}.</p>
        {% endif %}

    {% else %}
        <p>You are not currently subscribed to any plan. Subscribe now to enjoy premium features.</p>
    {% endif %}




</div>