root{
    --bs-nav-tabs-link-active-bg: var(--white)!important;
    --bs-body-bg: var(--pink)!important;
}

  .tab-pane{
    border: var(--border);
}

#dashboard-tab,#profile-tab, #subscription-tab{
    background-color: var(--red);
    border-bottom: none;
    color: var(--white);
}

#subscription-tab.active, #profile-tab.active{
    background-color: var(--black)!important;
 
}

.tab-pane{
    background-color: var(--white);
   padding:1rem;
}

.my-plan{
    border: var(--border);
    background-color: var(--white);
    padding: 0 1rem ;
}

form{
    border: unset!important;;
}