{% extends "base.html" %}
{% load static %} 



{% block extra_head %}
    <link rel="stylesheet" href="{% static '/css/homepage-hero.css' %}">
    <link rel="stylesheet" href="{% static '/css/homepage-features.css' %}">
    <link rel="stylesheet" href="{% static '/css/homepage-price.css' %}">
    <script src="{% static '/js/hero.js' %}"></script>
    <script src="{% static '/js/features.js' %}"></script>
{% endblock %}


{% block content %}

<!-- <link rel="stylesheet" href="{% static 'core/css/hero.css' %}"> -->
    <!-- Hero Section -->
<section id="hero" class="  mt-5 mb-5 pt-5 pb-5 ">
        <div class="row align-items-center just p-0 m-0  ">
            <div class="  col col-md-6 ">
                <!-- JavaScript will populate this grid -->
                <h1 class="big-title">wordUpp</h1>
                <div class="word-grid w-100 black-border bg-white p-5 mb-3 rounded-5"></div>

            </div>



            <div class="content col-md-6">
                <h2 class="second-big-text mb-4 bg-black c-a-white ps-2" >Craft Stunning<span class="icon-heart c-pink"></span> Textual<span class="icon-textsms c-yellow "></span> Imagery<span class="icon-camera c-red"></span> for Social Media</h2>
                <p  class="text-start">Elevate your content game with wordUpp - the premier tool for creating mesmerizing text visuals tailor-made for the social realm. From tweets to stories, make every word count.</p>
                {% if user.is_authenticated %}
                <!-- Button for logged-in users -->
                <a href="{% url 'dashboard' %}" class="btn btn btn-primary rounded-0 bg-yellow">Go to Dashboard</a>
            {% else %}
                <!-- Button for guests -->
                <a href="{% url 'register' %}" class="btn btn btn-primary rounded-0 bg-yellow">Register</a>
            {% endif %}
            </div>

        </div>
</section>

 

<!-- Features Section -->
<section id="features" class="   py-5 mb-5 mt-5 pt-5 pb-5  ">
    <div class="container">
        <h2 class="  big-title">Features</h2>
        <div class="row">
            <!-- Dynamic Canvas Card -->
            <div class="col-md-6 col-lg-4 mb-4  ">
                <div class="card h-100 black-border rounded-0 bg-red">
                    <div class="dynamic-canvas  bg-white rounded-0 ">
                        <span class="type-text height-card-header bg-black" data-icon="&#xf246;">Blank__</span>
                
                    </div>
                    <div class="card-body  ">
                        <h5 class="card-title"><strong>Dynamic Canvas<span class="icon-refresh"></span></strong></h5>
                        <p class="card-text">Begin with a blank slate and let your imagination run wild. Craft, customize, and captivate.</p>
                    </div>
                </div>
            </div>
            <!-- Predefined Sizes Card -->
            <div class="col-md-6 col-lg-4 mb-4 rounded-0">
                <div class="card h-100 black-border rounded-0 bg-yellow">
                    <div class="card-animation predefined-sizes black-border ms-3 mt-3 height-card-header rounded-0 bg-pink" data-icon="&#xe001;" class="down-arrow">
                        <span class="ms-3 c-white">  A</span>
                    </div>
                    <div class="card-body  mt-3 rounded-1">
                        <h5 class="card-title "><strong>Predefined Sizes<span class="icon-ruler"></span></strong></h5>
                        <p class="card-text">Perfectly sized for every platform. Whether it's a tweet, an Instagram story, or a Facebook post, we've got you covered.</p>
                    </div>
                </div>
            </div>
            <!-- Dazzling Text Effects Card -->
            <div class="col-md-6 col-lg-4 mb-4 ">
                <div class="card h-100  rounded-0 black-border bg-pink">
                    <div class="height-card-header  rounded-0 " >
                        <div id="text-effects" class="card-animation mb-3 height-card-header  ">
                            <div class="txt-grid">
                            <div class="txt">Txt</div>
                            <div class="txt">Txt</div>
                            <div class="txt">Txt</div>
                            <div class="txt">Txt</div>
                            <div class="txt">Txt</div>
                            <div class="txt">Txt</div>
                            </div>
                        </div>  
                    </div>
                    <div class="card-body  rounded-3    ">
                        <h5 class="card-title"><strong>Dazzling Text Effects<span class="icon-star1"></span></strong></h5>
                        <p class="card-text">With the brush tool , alter individual size, color or Transparency</p>
                    </div>
                </div>
            </div>
 
        </div>
    </div>
</section>



<section id="subscription" class="text-start  py-5 mb-5 mt-5 pt-5 pb-5">
    <div class="col-6">
        <h2 class="second-big-text c-a-white bg-black  ">Unleash <span class="icon-lightning"></span>Your Creativity<span class="icon-lamp"></span> with wordUpp Premium<span class="icon-diamond"></span></h2>
        <p class="mb-5">Dive into the full wordUpp experience. Save, share, and shine with our premium subscription. Every design, every platform, every time.</p>
    </div>  
    <div class="row mt-5 mb-5">
        <!-- Free Model Card -->
        <div class="col-md-6 mb-4">
            <h4 class="second-big-text bg-black c-a-white  text-start ">Free Model</h4>
            <div class="card rounded-0 bg-transparent">
                <div class="card-header   rounded-0    black-border bg-pink mb-1 ">
                    <span class="icon-gift me-2  z-5 m-0 p-0 c-black "></span>
                </div>
                <div class="card-body black-border bg-pink   rounded-0">
                    <h5 class="card-title">$0/month</h5>
                    <p class="card-text">No cost, no strings attached.</p>
                    <p class="card-text">Limited to 10 downloads per month.</p>
                    {% if user.is_authenticated %}
                        <!-- Button for logged-in users -->
                        <a href="{% url 'dashboard' %}" class="btn btn btn-primary rounded-0 bg-yellow">Go to Dashboard</a>
                    {% else %}
                        <!-- Button for guests -->
                        <a href="{% url 'register' %}" class="btn btn btn-primary rounded-0 bg-yellow">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- Premium Subscription Card -->
        <div class="col-md-6 mb-4 ">
            <h4 class="second-big-text bg-black c-a-white  text-start ">Premium Model</h4>
            <div class="card rounded-0 bg-transparent ">
                <div class="card-header  rounded-0    black-border bg-red mb-1 ">
                    <span class="icon-star me-2 c-black  "></span>
                </div>
                <div class="card-body black-border bg-red rounded-0">
                    <h5 class="card-title">$1.99/month</h5>
                    <p class="card-text">Get all from free.</p>
                    <p class="card-text">Unlimited Downloads.</p>
                    {% if user.is_authenticated %}
                        <!-- Button for logged-in users -->
                        <a href="{% url 'dashboard' %}" class="btn btn btn-primary rounded-0 bg-yellow">Go to Dashboard</a>
                    {% else %}
                        <!-- Button for guests -->
                        <a href="{% url 'register' %}" class="btn btn btn-primary rounded-0 bg-yellow">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>


 

{% endblock %}
<link rel="stylesheet" href="{% static 'core/js/hero.js' %}">