{% extends "base.html" %}
{% load static %} 



{% block extra_head %}
    <link rel="stylesheet" href="{% static '/css/homepage-hero.css' %}">
    <link rel="stylesheet" href="{% static '/css/homepage-features.css' %}">
    <link rel="stylesheet" href="{% static '/css/homepage-price.css' %}">
    <script src="{% static '/js/hero.js' %}"></script>
    <script src="{% static '/js/features.js' %}"></script>
{% endblock %}


{% block content %}

<!-- <link rel="stylesheet" href="{% static 'core/css/hero.css' %}"> -->
    <!-- Hero Section -->
<section id="hero" class="  mt-5 mb-5 pt-5 pb-5 ">
        <div class="row align-items-center just p-0 m-0  ">
            <div class="  col col-md-6 ">
                <!-- JavaScript will populate this grid -->
                <div class="word-grid w-100 black-border bg-white p-5 mb-3"></div>
                <p  class="text-end">Elevate your content game with wordUpp - the premier tool for creating mesmerizing text visuals tailor-made for the social realm. From tweets to stories, make every word count.</p>

            </div>



            <div class="content col-md-6">
                <h1 class="big-title mb-4" >Craft Stunning<span class="icon-heart c-pink"></span> Textual<span class="icon-textsms c-yellow"></span> Imagery<span class="icon-camera c-red"></span> for Social Media</h1>
            </div>

        </div>
</section>

 

<!-- Features Section -->
<section id="features" class="   py-5 mb-5 mt-5 pt-5 pb-5  ">
    <div class="container">
        <h2 class="  big-title">Features</h2>
        <div class="row">
            <!-- Dynamic Canvas Card -->
            <div class="col-md-6 col-lg-4 mb-4 ">
                <div class="card h-100 black-border rounded-0">
                    <div class="dynamic-canvas  ">
                        <span class="type-text height-card-header">Blank__</span>
                        <!-- <span class="cursor">|</span> -->
                    </div>
                    <div class="card-body bg-red">
                        <h5 class="card-title"><strong>Dynamic Canvas</strong></h5>
                        <p class="card-text">Begin with a blank slate and let your imagination run wild. Craft, customize, and captivate.</p>
                    </div>
                </div>
            </div>
            <!-- Predefined Sizes Card -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card h-100 black-border rounded-0">
                    <div class="card-animation predefined-sizes black-border ms-3 mt-3 height-card-header" data-icon="&#xe001; " class="down-arrow">
                        <span>A</span>
                    </div>
                    <div class="card-body bg-yellow mt-3 ">
                        <h5 class="card-title "><strong>Predefined Sizes</strong></h5>
                        <p class="card-text">Perfectly sized for every platform. Whether it's a tweet, an Instagram story, or a Facebook post, we've got you covered.</p>
                    </div>
                </div>
            </div>
            <!-- Dazzling Text Effects Card -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card h-100 black-border rounded-0">
                    <div class="height-card-header m-3">
                    <div id="text-effects" class="card-animation mb-3 height-card-header">
                        <div class="txt-grid">
                          <div class="txt">Txt</div>
                          <div class="txt">Txt</div>
                          <div class="txt">Txt</div>
                          <div class="txt">Txt</div>
                          <div class="txt">Txt</div>
                          <div class="txt">Txt</div>
                        </div>
                      </div>  
                    </div>
                    <div class="card-body bg-pink">
                        <h5 class="card-title"><strong>Dazzling Text Effects</strong></h5>
                        <p class="card-text">With the brush tool , alter individual size, color or Transparency</p>
                    </div>
                </div>
            </div>
 
        </div>
    </div>
</section>



<section id="subscription" class="text-center py-5 mb-5 mt-5 pt-5 pb-5">
    <h2>Unleash Your Creativity with wordUpp Premium</h2>
    <p class="mb-5">Dive into the full wordUpp experience. Save, share, and shine with our premium subscription. Every design, every platform, every time.</p>
    <div class="row mt-5 mb-5">
        <!-- Free Model Card -->
        <div class="col-md-6 mb-4">
            <h4 class="big-title   text-start ">Free Model</h4>
            <div class="card rounded-0 black-border">
               

                <div class="card-header  rounded-0  bottom-black-border ">
                    <!-- <h4 class="big-title z-5 m-0 p-0 "><span class="icon-gift me-2 c-yellow  z-5 m-0 p-0 "></span>Free Model</h4> -->
                    <span class="icon-gift me-2 c-pink  z-5 m-0 p-0 "></span>
                </div>
                <div class="card-body bg-pink">
                    <h5 class="card-title">$0/month</h5>
                    <p class="card-text">Dive into the world of textual design. No cost, no strings attached.</p>
                    <button class="btn btn-primary rounded-0 bg-yellow">Start for Free</button>
                </div>
            </div>
        </div>
        <!-- Premium Subscription Card -->
        <div class="col-md-6 mb-4 ">
            <h4 class="big-title   text-start ">Free Model</h4>
            <div class="card rounded-0 black-border ">
                <div class="card-header  rounded-0  bottom-black-border ">
                    <!-- <h4><span class="icon-star me-2 c-yellow  "></span>Premium Subscription</h4> -->
                    <span class="icon-star me-2 c-red  "></span>
                </div>
                 
                <div class="card-body bg-red ">
                    <h5 class="card-title">$1.99/month</h5>
                    <p class="card-text">Save your masterpieces. A world of premium features awaits.</p>
                    <button class="btn btn-primary rounded-0 bg-yellow">Upgrade to Premium</button>
                </div>
            </div>
        </div>
    </div>
</section>


 

{% endblock %}
<link rel="stylesheet" href="{% static 'core/js/hero.js' %}">