canvas {
    max-width: 100%;
    display: block;
    margin: 20px auto;
    border: var(--lineWidth) solid var(--black);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    image-rendering: -webkit-optimize-contrast;
}
