:root {
    --pink: #E19591;
    --red: #E05745;
    --yellow:#EEA932;
    --white: #f4f4f4;
    --white:#d3e1f7;


      --pink: #FF6347;  /* Deep Pink */
      --red: #00CED1;   /* Dark Turquoise */
      --yellow: #32CD32; /* Lime Green */

    --actual-white: #fafeff;
    --black: #090909;


    --lineWidth: 3px;
    --shadow:  0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;
    --border: var(--lineWidth) solid var(--black);
    --bs-navbar-color: var(--white)!important;
    --bs-nav-tabs-border-color: rgba(0,0,0,0);
}

html,body{
  position: relative; /* This allows us to position the pseudo-element relative to the body */
  height: 100%;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  color:var(--black);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;  /* full viewport width */
  height: 100vh; /* full viewport height */
  z-index: -1;   /* place it behind the content */
  background: linear-gradient(45deg, #fbdcd7, #b4d1d2, #b7d2b7);
}


 



.c-pink{
    color: var(--pink)!important;
}

.c-red{
    color: var(--red);
}

.c-yellow{
    color: var(--yellow);
}

.c-black{
  color: var(--black);
}

 

.c-a-white , nav a{
  color:  var(--actual-white)!important;
}

.bg-a-white{
  background-color:  var(--actual-white);
}

.bg-yellow{
  background-color: var(--yellow)!important;
}

.bg-black{
    background-color: var(--black)!important;
}

.bg-pink{
    background-color: var(--pink)!important;
}

.bg-red{
    background-color: var(--red)!important;
}

.text-white {
    color:var(--white)!important;
}

.icon-list{
  background-color: var(--red)!important;
  color: var(--black);
  outline-offset:10px;
 
}

.black-outline{
 outline-style: solid!important;
 outline-color: pink!important;
}
.black-border{
    border: var(--black) var(--lineWidth) solid!important;
}

.bottom-black-border{
  border-bottom: var(--black) var(--lineWidth) solid!important;
}

.make-bold{
    font-weight: 900;
}

.navbar-brand, h1, h2,h3, h4{
    font-family: 'Noto Sans', sans-serif;
    text-transform: none;
    font-weight: 900;
}



nav a, .btn, footer a, footer p, .pane-button{
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

.btn{
    --bs-btn-border-color:unset;
    border: var(--border)!important;
    color:var(--black);
}



@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?helv6');
    src: url('../fonts/icomoon.eot?s1ttcs#iefix') format('embedded-opentype'), 
         url('../fonts/icomoon.ttf?helv6') format('truetype'), 
         url('../fonts/icomoon.woff?helv6') format('woff'), 
         url('../fonts/icomoon.svg?helv6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
     font-family: 'icomoon' !important;
     font-style: normal;
     font-weight: normal;
     font-variant: normal;
     text-transform: none;
     line-height: 1;
    /* Better Font Rendering =========== */
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
font-size: 2rem;
}
.icon-brush:before {
  content: "\e900";
}
.icon-star:before {
  content: "\e909";
}
.icon-star1:before {
  content: "\e90a";
}
.icon-wrench:before {
  content: "\e902";
}
.icon-refresh:before {
  content: "\e90b";
}
.icon-happy2:before {
  content: "\e9e0";
}
.icon-smile2:before {
  content: "\e9e2";
}
.icon-wink2:before {
  content: "\e9e8";
}
.icon-grin2:before {
  content: "\e9ea";
}
.icon-cool2:before {
  content: "\e9ec";
}
.icon-shocked2:before {
  content: "\e9f2";
}
.icon-baffled2:before {
  content: "\e9f4";
}
.icon-neutral2:before {
  content: "\e9f8";
}
.icon-wondering2:before {
  content: "\e9fc";
}
.icon-sleepy2:before {
  content: "\e9fe";
}
.icon-crying2:before {
  content: "\ea02";
}
.icon-lamp:before {
  content: "\e90c";
}
.icon-lightning:before {
  content: "\e90d";
}
.icon-camera:before {
  content: "\e903";
}
.icon-diamond:before {
  content: "\e90e";
}
.icon-list:before {
  content: "\e901";
}
.icon-ruler:before {
  content: "\e90f";
}
.icon-paint:before {
  content: "\e904";
}
.icon-heart:before {
  content: "\e906";
}
.icon-target-arrow:before {
  content: "\e910";
}
.icon-textsms:before {
  content: "\e907";
}
.icon-question-circle:before {
  content: "\f059";
}
.icon-gift:before {
  content: "\f06b";
}
.icon-file-image-o:before {
  content: "\f1c5";
}
.icon-file-photo-o:before {
  content: "\f1c5";
}
.icon-file-picture-o:before {
  content: "\f1c5";
}
.icon-mouse-pointer:before {
  content: "\f245";
}
.icon-i-cursor:before {
  content: "\f246";
}
.icon-image-inverted:before {
  content: "\e908";
}
.icon-text-document-inverted:before {
  content: "\e905";
}
 

.big-title{
  display: inline-block;
  font-size: 3.5rem;
  z-index: 1000;
  padding-left:1rem;
  padding-right:1rem;
  background-color: var(--black);
  color: var(--actual-white);
}


.second-big-text{
  font-size: 1.9rem;
  display: inline-block;
  padding: 5px;
  padding-left:1rem;
  padding-right:1rem;
}

.icon-star1, .icon-refresh, .icon-ruler{
  font-size: 1.5rem!important;
  margin-left: .5rem;
  margin-bottom: -7rem!important;
  background-color: var(--black);
  padding:5px;
}

.icon-star1:before ,.icon-lightning {
 color:var(--pink);
}

.icon-refresh, .icon-lamp{
  color:var(--red);
}

.icon-ruler, .icon-diamond{
  color:var(--yellow);
}

.icon-star1::before, .icon-refresh::before, .icon-ruler::before{
  margin-top: 3.5rem!important;
  padding-top: 3rem!important;
}
.dynamic-canvas{
  position: relative;
  z-index: 1000!important;
}

.card-title strong{
 color: var(--black);
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: unset!important;
}